../configStyles/Config.scss

.buy {
  padding: $p-sm;
  display: flex;
  justify-content: space-around;

  &__details {
    &-image-container {
      gap: 1em;
      @include flex(unset, center, center, column);
    }

    &-image {
      width: 100%;
      margin: 1em;
      height: 35em;
      max-width: 35em;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        cursor: zoom-in;
        background-size: 150%;
        border: 1px solid #ddd;
      }
    }

    &-image-thumbnails {
      &-thumb {
        gap: 1em;
        flex-wrap: wrap;
        @include flex(unset, center, center, row);

        img {
          width: 10em;
          height: 12em;
        }
      }
    }

    &-product {
      gap: 3em;
      width: 100%;
      flex-wrap: wrap;
      @include flex(center, center, center, row);

      &-info {
        gap: 2em;
        height: 100%;
        margin-top: 2.5em;
        @include flex(left, flex-start, flex-start, column);
      }

      &-title {
        font-size: $h3;
        font-weight: 500;
      }

      &-description {
        max-width: 25em;
        line-height: 1.2;
        font-weight: 300;
      }

      &-price {
        font-size: $h3;
        font-weight: 500;
      }

      &-quantity {
        @include flex(unset, flex-start, center, column);

        &-title {
          margin-bottom: 0.8em;
          font-size: calc($h4 - 0.5rem);
        }

        & > div {
          gap: 1em;
          font-weight: 400;
          @include flex(center, center, center, row);
        }
      }

      &-colors {
        &-title {
          margin-bottom: 0.8em;
          font-size: calc($h4 - 0.5rem);
        }

        &-palette {
          gap: 1em;
          flex-wrap: wrap;
          @include flex(unset, flex-start, start, row);

          button {
            width: 6em;
            height: 3em;
            border: 0.1em solid #ccc;

            &:hover {
              box-shadow: 0 0.2em 0.5em #999;
            }

            &:focus {
              border: 0.1em solid $black;
            }
          }
        }
      }

      &-sizes {
        &-title {
          margin-bottom: 0.8em;
          font-size: calc($h4 - 0.5rem);
        }

        &-range {
          gap: 1em;
          flex-wrap: wrap;
          @include flex(unset, flex-start, start, row);

          button {
            width: 5em;
            height: 3em;
            border: 0.1135em solid $black;

            &:hover {
              box-shadow: 0 0.1em 0.5em #999;
            }

            &:focus {
              color: $white;
              background: $black;
            }
          }
        }
      }

      &-buttons {
        gap: 1em;
        margin: 1em 0 0;
        @include flex(unset, flex-start, start, row);

        button {
          height: 3em;
          width: 10em;
          @include button;
        }

        a {
          height: 3em;
          @include button;

          width: 10em;
          color: $black;
          background: $white;
          border: 2px solid $black;

          &:hover {
            color: $white;
            background: $black;
          }
        }
      }
    }
  }
}
