@import "/src/sass/configStyles/config";

.cart {
  gap: 3em;
  padding: $p-sm;

  &__product {
    gap: 3em;
    width: 100%;
    padding: $p-md;
    position: relative;
    border: 1px solid #ccc;
    @include flex(left, center, center, column);

    &-image {
      height: 35em;
    }

    &-details {
    @include flex(left, center, center, column);

    }
  }
}

.cart-icon {
  position: relative;
  margin-right: 15px;

  & > span {
    top: -10px;
    z-index: 10;
    width: 20px;
    right: -10px;
    padding: 5px;
    height: 20px;
    display: flex;
    color: white;
    font-size: 13px;
    position: absolute;
    border-radius: 20px;
    align-items: center;
    background: crimson;
    justify-content: center;
  }
}

.cart-empty {
  height: 100vh;
  @include flex(center, center, center, column);
}
