@import "../configStyles/Config.scss";

.cart {
  gap: 3em;
  padding: $p-md;

  &__product {
    gap: 3em;
    width: 100%;
    padding: $p-md;
    flex-wrap: wrap;
    position: relative;
    border: 1px solid #ccc;
    @include flex(left, center, space-around, unset);

    &-image {
      height: 35em;
    }

    &-details {
      @include flex(left, center, center, column);
    }

    &-remove {
      top: 0;
      right: 0;
      width: 2em;
      height: 2em;
      font-size: $h4;
      position: absolute;
      background: $white;
      border-left: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      @include flex(left, center, center, column);

      &:hover {
        border: none;
        color: $white;
        background-color: $black;
      }
    }
  }

  &__summary {
    width: 100%;
    @include flex(center, center, space-between, row);

    & > div {
      @include flex(center, center, center, row);
    }

    & a {
      @include button;
      @media screen and (min-width: 40em) {
        width: 10em;
      }
    }

    & button {
      @include button;
      @include flex(center, center, center, row);

      gap: 1em;
      color: $black;
      background: $white;
      border: 2px solid $black;

      &:hover {
        color: $white;
        background: $black;
        border: 2px solid $black;
      }
    }
  }
}

.cart-icon {
  position: relative;
  margin-right: 15px;

  & > span {
    top: -10px;
    z-index: 10;
    width: 20px;
    right: -10px;
    padding: 5px;
    height: 20px;
    display: flex;
    color: white;
    font-size: 13px;
    position: absolute;
    border-radius: 20px;
    align-items: center;
    background: crimson;
    justify-content: center;
  }
}

.cart-empty {
  gap: 3.5em;
  height: 100vh;
  @include flex(center, center, center, column);

  h2 {
    color: $black;
    font-size: 3.5rem;
  }

  button {
    @include button;
  }
}

body.dark-mode .cart__product-remove {
  color: $black;
  @include transition;
  background: $darkmode;

  &:hover {
    color: $white;
    background: $white;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
}
