@import "../configStyles/Config.scss";

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .error-logo {
    top: 2em;
    left: 2em;
    position: absolute;
  }

  .error-container {
    text-align: center;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .error-illustration {
      margin: 2rem auto 1em;

      a {
        @include button;
      }
    }
  }

  .error-code {
    font-size: 3rem;
    color: #000;
    margin: 0;
  }

  .error-message {
    font-size: 1.5rem;
    color: #333;
    margin: 1rem 0;
  }

  .error-description {
    font-size: 1rem;
    color: #777;
    margin: 0;
  }
}
