@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  transition: background-color 350ms ease-out !important;
  -webkit-transition: background-color 350ms ease-out !important;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5em;
  border: 0.3em solid #ffffff;
  background-color: #bebebe;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaaa;
}

@media (min-width: 87.5em) {
  body {
    margin: auto;
    max-width: 1400px;
  }
}
img,
svg,
video {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
[role=button] {
  cursor: pointer;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
button:focus,
[role=button]:focus {
  outline: 0;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
}

::-moz-placeholder {
  opacity: 1;
}

textarea {
  vertical-align: top;
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
[type=checkbox]:focus,
[type=radio]:focus {
  outline: 0;
}

nav,
main,
footer {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  text-decoration: none;
  list-style-type: none;
}

.scroll-to-top {
  width: unset !important;
  height: unset !important;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 1.25em rgba(180, 180, 180, 0.75) !important;
}

.Btn {
  width: 40px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  position: relative;
  border-radius: 1em;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.arrow path {
  fill: #000;
}

.text {
  gap: 0.7em;
  opacity: 0;
  width: 100px;
  bottom: -18px;
  color: grey;
  font-size: 0.7rem;
  position: absolute;
  transition-duration: 0.7s;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.Btn:hover .text {
  opacity: 1;
  transition-duration: 0.7s;
}

.arrow {
  animation: slide-in-bottom 5s ease infinite running;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(0.7em);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.btn-radio {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
@media screen and (max-width: 480px) {
  .btn-radio {
    display: block;
    float: none;
  }
  .btn-radio:not(:first-child) {
    margin-left: 0;
    margin-top: 15px;
  }
}
.btn-radio svg {
  fill: none;
  vertical-align: middle;
}
.btn-radio svg circle {
  stroke-width: 2;
  stroke: #c8ccd4;
}
.btn-radio svg path {
  stroke: #000;
}
.btn-radio svg path.inner {
  stroke-width: 6;
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
}
.btn-radio svg path.outer {
  stroke-width: 2;
  stroke-dasharray: 57;
  stroke-dashoffset: 57;
}
.btn-radio input {
  display: none;
}
.btn-radio input:checked + svg path {
  transition: all 0.4s ease;
}
.btn-radio input:checked + svg path.inner {
  stroke-dashoffset: 38;
  transition-delay: 0.3s;
}
.btn-radio input:checked + svg path.outer {
  stroke-dashoffset: 0;
}
.btn-radio span {
  display: inline-block;
  vertical-align: middle;
}

.footer {
  padding: 3% 0 0;
  position: relative;
  align-items: flex-start;
}
.footer__links {
  width: 100%;
  padding: 10% 3%;
}
.footer__link-group {
  gap: 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer__link-item {
  gap: 1em;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.footer__link-title {
  width: 100%;
  display: flex;
  text-align: unset;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer__link-heading {
  width: 100%;
  font-size: calc(1.8rem + (1vw - 1rem) * 0.5);
  font-weight: 600;
  padding-left: 5%;
}
.footer__link-list {
  gap: 1.3em;
  width: 100%;
  display: flex;
  text-align: left;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.footer__link {
  transition: all 500ms ease;
  font-size: calc(1.1rem + (1vw - 1rem) * 0.5);
  cursor: pointer;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04rem;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__copyright {
  gap: 1.5em;
  width: 100%;
  padding: 3%;
  margin-top: 10%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer__closing {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.footer__closing > p {
  font-weight: 300;
  font-size: calc(1.1rem + (1vw - 1rem) * 0.5);
}
.footer__social-media {
  gap: 2.5em;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.footer__social-media > img {
  height: 1.5em;
  transition: all 500ms ease;
}
.footer__social-media > img:hover {
  transform: scale(1.2);
}

@media (min-width: 50em) {
  .footer {
    position: relative;
    align-items: flex-start;
  }
  .footer__links {
    width: 100%;
    padding: 5%;
  }
  .footer__link-group {
    gap: 0;
    grid-template-columns: 30% 30% 40%;
  }
  .footer__link {
    font-size: calc(1.1rem + (1vw - 1rem) * 0.5 - 0.2rem);
  }
  .footer__copyright {
    margin-top: 0;
    flex-direction: row;
    padding: 3% 5% 1em;
    justify-content: space-between;
  }
  .footer__closing {
    gap: 2em;
    width: unset;
    align-items: baseline;
    justify-content: flex-start;
  }
}/*# sourceMappingURL=Footer.css.map */