@import "../configStyles/Config.scss";

.footer {
  padding: $p-sm 0 0;
  position: relative;
  align-items: flex-start;

  &__links {
    width: 100%;
    padding: $p-xl $p-sm;
  }

  &__link-group {
    gap: $p-xxl;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__link-item {
    gap: 1em;
    @include flex(left, center, flex-start, column);
  }

  &__link-title {
    width: 100%;
    @include flex(unset, center, center, column);
  }

  &__link-heading {
    width: 100%;
    font-size: $h4;
    font-weight: 600;
    padding-left: $p-md;
  }

  &__link-list {
    gap: 1.3em;
    width: 100%;
    @include flex(left, flex-start, center, column);
  }

  &__link {
    @include transition;

    font-size: $h6;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &__copyright {
    gap: 1.5em;
    width: 100%;
    padding: $p-sm;
    margin-top: $p-xl;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    @include flex(center, center, center, column);
  }

  &__closing {
    width: 100%;
    @include flex(center, center, space-between, row);

    & > p {
      font-weight: 300;
      font-size: $h6;
    }
  }

  &__social-media {
    gap: 2.5em;
    @include flex(center, center, space-between, row);

    & > img {
      height: 1.5em;
      @include transition;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

@media (min-width: 50em) {
  .footer {
    position: relative;
    align-items: flex-start;

    &__links {
      width: 100%;
      padding: $p-md;
    }

    &__link-group {
      gap: 0;
      grid-template-columns: 30% 30% 40%;
    }

    &__link {
      font-size: calc($h6 - 0.2rem);
    }

    &__copyright {
      margin-top: 0;
      flex-direction: row;
      padding: $p-sm $p-md 1em;
      justify-content: space-between;
    }

    &__closing {
      gap: 2em;
      width: unset;
      align-items: baseline;
      justify-content: flex-start;
    }
  }
}

body.dark-mode {
  .footer {
    
    &__closing {
      img {
        filter: invert(1);
      }
    }

    &__social-media {
      img {
        filter: invert(1);
      }
    }
  }
}
