@import "/src/sass/configStyles/config";

.about {
  &__title {
    font-size: $h2;
    margin: $p-sm 0;
  }

  &__section {
    gap: 3em;
    position: relative;
    padding: $p-sm $p-md 0;
    @include flex(left, center, unset, column);
  }

  &__info {
    width: 100%;
    @include flex(left, flex-start, unset, column);
  }

  &__image {
    width: 100%;
    max-width: 30em;
  }

  &__text {
    width: 27em;
    max-width: 100%;
    font-weight: 400;
    margin-top: $p-sm;
    line-height: 2rem;
  }

  &__team {
    width: 100%;
    padding: $p-sm $p-md 0;
    margin-top: 5em;

    &-title {
      font-size: $h2;
      margin: $p-sm 0;
      font-weight: 600;
    }

    &-workers {
      @include flex(center, center, center, unset);

      gap: 2em;
      display: grid;
      padding: $p-md;
      background: #fafafa;
      grid-template-columns: 1fr 1fr;
    }

    &-member {
      @include flex(center, center, center, column);
    }

    &-image {
      cursor: pointer;
      transition: all 500ms;

      &:hover {
        transform: scale(1.05);
      }
    }

    &-name {
      font-weight: 600;
      margin: 0.4em 0 0;
    }

    &-skill {
      cursor: pointer;
      font-weight: 300;
      margin: 0.6em 0 0;
      font-size: 0.8235rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: 40em) {
  .about {
    &__info {
      gap: $p-sm;
      flex-direction: row;
    }

    &__info-reverse {
      flex-direction: row-reverse;
    }
  }
}

@media (min-width: 60em) {
  .about {
    &__team-workers {
      gap: 0em;
      grid-template-columns: repeat(3, 16em);
    }
  }
}

@media (min-width: 70em) {
  .about {
    &__team-workers {
      gap: 4em;
      grid-template-columns: repeat(3, 22em);
    }

    &__image {
      max-width: 34em;
    }

    &__image-reverse {
      max-width: 44em;
      margin-top: -9em;
    }
  }
}
