.switch {
  left: 5%;
  bottom: 5%;
  cursor: pointer;
  position: fixed;
  padding: 0 1em;
  border-radius: 1em;
  z-index: 9 !important;
  background-color: $white;
  @include flex(left, flex-start, center, row);
  box-shadow: 0 0 1.25em rgba(180, 180, 180, 0.75) !important;

  &-text {
    left: 5%;
    bottom: 0;
    position: relative;
    @include flex(left, flex-start, center, column);

    span {
      color: #333;
      font-size: 2rem;
      line-height: 1.1;
      font-weight: 700;
      margin-left: -0.4em;
    }
  }
}

body.dark-mode .switch {
  background: $darkmode;
  &-text {
    span {
      color: $white;
    }
  }
}

.toggle {
  display: none;
}

.toggle,
.toggle:after,
.toggle:before,
.toggle *,
.toggle *:after,
.toggle *:before,
.toggle + .toggle-button {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.toggle::-moz-selection,
.toggle:after::-moz-selection,
.toggle:before::-moz-selection,
.toggle *::-moz-selection,
.toggle *:after::-moz-selection,
.toggle *:before::-moz-selection,
.toggle + .toggle-button::-moz-selection {
  background: none;
}

.toggle::selection,
.toggle:after::selection,
.toggle:before::selection,
.toggle *::selection,
.toggle *:after::selection,
.toggle *:before::selection,
.toggle + .toggle-button::selection {
  background: none;
}

.toggle + .toggle-button {
  outline: 0;
  display: inline-block;
  margin-left: -1.6em;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  background: $white;
  border: 2px solid #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body.dark-mode .toggle + .toggle-button {
  background: #333;
}

.toggle + .toggle-button:after,
.toggle + .toggle-button:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.toggle + .toggle-button:after {
  left: -10%;
  bottom: 40%;
}

.toggle + .toggle-button:before {
  display: none;
}

.toggle:checked + .toggle-button:after {
  left: 50%;
}

.toggle + .toggle-button {
  padding: 0.5em;
  margin-bottom: -2.5em;
  border-radius: 2em;
  border: 2px solid #333;
  transform: rotate(90deg);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

body.dark-mode .toggle + .toggle-button {
  border: 2px solid #ccc;
}

.toggle + .toggle-button:after {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: #333;
  content: "";
  padding: 0.7em;
  border-radius: 1em;
}

body.dark-mode .toggle + .toggle-button:after {
  background: $white;
}

.toggle:checked + .toggle-button:after {
  left: 59%;
  bottom: 41%;
}
